<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
<header class=" bg-mySpend px-3 h-16 sm:px-4 py-2 sm:py-0 sticky w-full flex justify-center z-20 top-0 left-0">
  <nav class="container flex flex-wrap sm:flex-nowrap justify-between p-0 items-center mx-auto">
    <span><%= link_to image_tag('arrow_left.svg', class:"h-6 w-6 p-0 m-auto"), root_path %></span>
    <span class="text-center text-white text-md">REGISTER</span>
    <span>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'text-white text-center'  %>
      <% else %>
        <%= f.submit "Next", class: "w-full text-white text-center" %>
      <% end %>
    </span>
  </nav>
</header>
<div class="container bg-white md:w-6/12 md:m-auto p-3 border-y-2 border-neutral-300 shadow-md mt-4">
    <% if resource.errors.any? %>
      <div class="border border-[#252525] text-[#ff0000] px-2 py-2 relative" role="alert">
        <ul class="">
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="md:w-full pt-2 pb-3 mb-2 gap-2 flex justify-start items-center border-b border-grayLight">
      <%= f.file_field :icon, :size => "260x180", required: true, class: " bg-mySpend-TextLight bg-none" %>
    </div>
    <%= f.label :name, 'Full Name', class: 'hidden' %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: "field w-full py-2 mb-3 px-1 bg-transparent", required: true %>
    <%= f.label :email, 'Email', class: 'hidden'%>
    <%= f.email_field :email, autofocus: false, autocomplete: "email", placeholder: "Email", class: "field w-full py-2 px-1 mb-3 bg-transparent", required: true %>
    <%= f.label :password, 'Password', class: 'hidden'%>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: "field w-full py-2 px-1 bg-transparent", required: true %>
  <% end %>
</div>
