  <header class=" bg-mySpend px-2 h-16 sm:px-4 py-2 sm:py-0 sticky w-full flex justify-center z-20 top-0 left-0">
    <nav class="container flex flex-wrap sm:flex-nowrap justify-between p-0 items-center mx-auto">
      <span><%= link_to image_tag('arrow_left.svg', class:"h-6 w-6 p-0 m-auto"), new_user_registration_path %></span>
      <span class="text-center text-white text-md">PAYMENTS</span>
      <span>
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'text-white text-center'  %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, :class => 'text-white text-center' %>
          <%= f.submit "Sign In", class: "text-white text center" %>
        <% end %>
      </span>
    </nav>
  </header>
<%= form_with model:  @payment, url: category_payments_path(@categories) do |f| %>
  <div class="card-body error-message">
    <% if @payment.errors.any? %>
      <ul class="list-style-none p-0">
        <% @payment.errors.full_messages.each do |message| %>
          <li class="text-danger fw-md text-ms text-center">* <%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="card-body bg-white form shadow-md">
    <%= f.text_field :name, placeholder: "Payment name", class: "field w-full py-2 px-1 mb-3 bg-transparent outline outline-offset-0 outline-0", autofocus: true, autocomplete: "off", required: true %>
    <%= f.text_field :amount, placeholder: "Amount", class: "field w-full py-2 px-1 mb-3 bg-transparent", autofocus: true, autocomplete: "off", required: true %>
    <%= f.collection_select :category_id, @categories, :id, :name, {prompt: "Select Category"}, {class: "field w-full py-2 px-1 mb-3 bg-transparent", required: true} %>
    <div class="button-form">
      <%= f.submit "Create Payment", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
