<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<%= javascript_importmap_tags %>
  </head>

<body class="bg-light">
  <main class="root container-fluid p-0 h-auto">
    <%= yield %>
      <% if notice %>
        <div class="flex flex-col justify-center items-center container-fluid fixed z-50 w-10/12 md:w-8/12 lg:w-6/12 bg-transparent px-4 top-1/3 left-1/12 right-1/12 py-2 rounded" role="alert">
          <div class="container bg-white h-64 py-2 shadow-md">
            <span class='flex justify-end items-center rounded-md'>
              <%= button_to image_tag('close_button'), new_category_path(@category), class: "close w-5 h-5 rounded-full text-center items-center", data_dismiss: "alert" %>
            </span>
            <div class="flex flex-col w-full flex-wrap justify-center items-center mb-4 pt-4">
              <span><%= image_tag "complete_check.svg", alt: 'complete icon', class: "w-16 h-16 rounded-full bg-mySpend-green mb-2" %></span>
              <h4>Complete</h4>
              <span class="notice block text-center"><%= notice %></span>
            </div>
          </div>
        </div>
      <% end %>
      <% if alert %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <span class="alert block sm:inline"><%= alert %></span>
        </div>
      <% end %>
  </main>
</body>
</html>
